:root {
  --gris-clair: #f5f3ef;
  --vert-principal: #00ac66;
  --gris-texte: #a6a6a6;
  --gris-fonce: #292929;
}

* {
  font-family: "Inter";
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.01);
  background-color: var(--gris-clair);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Changed */
  padding: 0.5rem 0;
}

.navbar__link {
  color: var(--gris-fonce);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 14px;
}

.navbar__link:hover {
  font-weight: bold;
}

.navbar__content {
  display: flex;
  align-items: center;
  flex-direction: column; /* Changed */
}
.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__item {
  margin-bottom: 10px;
}

.active {
  font-weight: bold;
}

.home {
  background-color: var(--gris-clair);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 80px;
  padding: 0 0 80px 0;
  flex-direction: column;
}

.home__content {
  max-width: 85%;
  order: 2;
}
.content {
  width: 100%;
}
.content__title {
  margin-right: 4px;
  margin-bottom: 1rem;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
}
.content__text {
  font-family: "InterL";
  margin-bottom: 40px;
}

.content__img {
  display: block;
  width: 100%;
}
.content__autor {
  color: var(--gris-texte);
  font-style: italic;
  text-align: right;
  font-size: 12px;
  margin: 15px 15px 0 0;
}
.content__button {
  width: 80%!important;
  text-align: center;
}
/* FOOTER */
footer {
  background-color: #ffffff;
  justify-content: flex-end;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__link {
  margin: 15px;
  color: var(--gris-fonce);
  text-decoration: none;
}

.lastbook {
  background-color: #faf9f7;
  padding-top: 80px;
  padding-bottom: 64px;
}

.lastbook__title {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 80px;
}

.lastbook__card {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gris-clair);
  padding: 80px 0;
}

.information__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 24px;
}

.information__text {
  margin-bottom: 40px;
  text-align: center;
  font-family: "InterL";
}

.information__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 36px;
}

.infocard__card {
  background-color: white;
  border-radius: 10px;
  padding: 44px 18px;
  width: 215px;
  text-align: center;
  font-size: 14px;
}

.information__banner {
  width: 100%;
  max-height: 230px;
  object-fit: cover;
  display: block;
}

.values {
  padding: 80px 10px;
  background-color: var(--gris-clair);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-values h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  margin-bottom: 29px;
  font-size: 2rem;
}

.values__text {
  max-width: 392px;
  font-family: "InterL";
  margin: 0;
  margin-bottom: 1rem;
}

.values__heart {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.heart__content {
  margin-top: 23px;
  color: var(--gris-texte);
  font-size: 12px;
  font-style: italic;
}

.heart__img {
  position: relative;
  margin-top: 9px;
  left: 4rem;
}

/* Logs */

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #faf9f7;
  flex-direction: column;
}

.login__img {
  max-width: 100%;
  object-fit: cover;
}

.login__content {
  width: 100%;
}

.login__form {
  margin: 15% auto;
  width: 60%;
}

.form__title {
  margin-bottom: 50px;
}

.form__label {
  color: var(--gris-texte);
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}
.form__input {
  margin-bottom: 32px;
  height: 50px;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
}

.form__button {
  width: 100%;
  margin-bottom: 40px;
}

.form__text {
  font-size: 14px;
}

.form__link {
  color: black;
}

.button {
  padding: 22px 38px;
  border-radius: 10px;
  border: 1px solid var(--vert-principal);
  transition: 0.3s;
  cursor: pointer;
  font-family: "InterSB";
  font-size: 1rem;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.button-green {
  background-color: var(--vert-principal);
  color: white;
}

.button-green:hover {
  background-color: #006d41;
  border-color: #006d41;
}

.button-border-green {
  color: var(--vert-principal);
}
.button-border-green:hover {
  color: #006d41;
  border-color: #006d41;
}

.cardbook__link {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.01);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  display: block;
  width: 40%;
  margin-bottom: 5%;
}

.cardbook__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.cardbook__information {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 15px;
}
.cardbook__title {
  color: var(--gris-fonce);
}
.cardbook__author {
  color: var(--gris-texte);
}
.cardbook__seller {
  font-style: italic;
  color: var(--gris-texte);
}
.cardbook__button {
  margin: 0 auto;
  display: none;
}

.showBooks {
  background-color: #faf9f7;
  padding-top: 130px;
  padding-bottom: 80px;
}

.showBooks__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 55%;
  margin: auto;
  margin-bottom: 65px;
  align-items: start;
  flex-direction: column;
  max-width: 100%;
  margin: 0 0% 30px 5%;
}
.showBooks__title {
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: 400;
}
.showBooks__form {
  width: 100%;
}

.showBooks__input {
  color: var(--gris-texte);
  font-size: 14px;
  padding: 1rem 12px;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  padding-left: 30px; /* icon size */
  width: 80%;
}
.showBooks__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 7%;
  max-width: 95%;
  margin: 0 auto;
  justify-content: center;
}

.showBook {
  background-color: var(--gris-clair);
  padding-top: 1rem;
}

.showBook__header {
  font-size: 10px;
  margin-bottom: 1rem;
  margin-left: 17.2%;
}
.showBook__link {
  color: var(--gris-texte);
  display: inline-block;
  text-decoration: none;
}

.book {
  display: flex;
  margin-left: 10%;
}

.book__image {
  width: 60%;
  max-height: 850px;
  object-fit: cover;
}

.book__content {
  width: 40%;
  padding: 50px 50px 50px 50px;
  background-color: #faf9f7;
}

.book__title {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
}

.book__author {
  color: var(--gris-texte);
  padding-bottom: 32.5px;
}

.book__soustitle {
  margin-top: 32.5px;
  margin-bottom: 1rem;
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0.08em;
  text-align: left;
}

.book__description {
  font-size: 14px;
  line-height: 16.94px;
  white-space: pre-line;
  max-width: 70%;
}

.userInformation {
  background-color: white;
  border-radius: 114px;
  padding: 6px 17px 6px 6px;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.userInformation__image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.userInformation__text {
  font-size: 14px;
  margin-left: 1rem;
}

.book__button {
  width: 60%;
  justify-content: center;
  display: flex;
  margin-bottom: 80px;
}
.navbar__menu-icon {
  display: block !important; /* Show menu icon */
  cursor: pointer;
  margin-right: 30px;
}

.navbar__list {
  display: none; /* Hide nav links by default */
  clear: both;
}

.navbar__menu-toggle:checked ~ .navbar__list {
  display: block; /
}
.navbar__menu-toggle:checked ~ .navbar__menu-icon {
  display: none!important;
}
.input-container {
  position: relative;
}



.fa-magnifying-glass {
  position: absolute;
  left: 10px; /* Adjust to position the icon */
  top: 50%;
  transform: translateY(-50%);
  color: var(--gris-texte);
}

@media screen and (min-width: 800px) {
  .navbar {
    justify-content: space-around; /* Revert */
  }
  .navbar__item {
    margin-right: 0; /* Revert */
    margin-bottom: 10px; /* Revert */
  }
  .navbar__list {
    flex-direction: row; /* Revert */
    display: flex!important; /* Show nav links */
  }

  .navbar__menu-icon {
    display: none; /* Hide menu icon */
  }
  footer {
    flex-direction: row; /* Revert */
    text-align: right; /* Revert */
  }
  .footer__link {
    margin: 20px; /* Revert */
  }
  .navbar__menu-icon {
    display: none !important; /* Revert */
  }
  .home {
    flex-direction: row;
    padding-top: 80px;
  }
  
  .home__content {
    max-width: 15% !important;
    order: 0;
  }
  .content {
    max-width: 25%;
  }
  .content__button {
    max-width: 30%;
  }
  .lastbook__card {
    gap: 75px; /* Revert */
  }
  .cardbook__link {
    width: 200px; /* Revert */
  }
  .cardbook__button {
    display: block; /* Revert */
  }
  .cardbook__image {
    width: 115%; /* Revert */
  }
  .cardbook__information {
    width: 100%; /* Revert */
  }
  .showBooks__search {
    align-items: center; /* Revert */
    max-width: 55%; /* Revert */
    flex-direction: row; /* Revert */
    margin: auto; /* Revert */
    margin-bottom: 65px; /* Revert */    
  }
 
  .showBooks__cards {
    max-width: 55%; /* Revert */
  }
  .showBooks__form {
    width: auto; /* Revert */
  }
  .showBooks__title {
    font-size: 1.5rem; /* Revert */
  }
  .navbar__content {
    flex-direction: row; /* Revert */
  }
  .values__heart {
    width: 100%;
  }
  .login {
    flex-direction: row;
  }
  .login__content {
    width: 50%;
  }
  .login__form {
    width: 40%;
  }
  .login__img {
    max-width: 5  0%;
  }
}

.navbar__menu-toggle {
  display: none; /* Revert */
}

